<div class="container-fluid p-5">
  <form class="form-inline" (ngSubmit)="filtrar()">
    <div class="row">
      <div class="col-sm-6 mb-2">
        <label for="regiao" class="mr-2">Região:</label>
        <select id="regiao" class="form-control" [(ngModel)]="filtroRegiao" name="regiao">
          <option value="">Selecione...</option>
          <option *ngFor="let regiao of regioesDisponiveis" [value]="regiao">{{ regiao }}</option>
        </select>
      </div>

      <div class="col-sm-6 mb-2">
        <label for="especie" class="mr-2">Espécie:</label>
        <select id="especie" class="form-control" [(ngModel)]="filtroEspecie" name="especie">
          <option value="">Selecione...</option>
          <option *ngFor="let especie of especiesDisponiveis" [value]="especie">{{ especie }}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-info">Filtrar</button>
  </form>
</div>

<div class="container-fluid p-5">
  <table class="table table-dark table-striped-columns mt-3">
    <thead>
      <tr>
        <th scope="col">Região</th>
        <th scope="col">Espécies</th>
        <th scope="col">Status de Conservação</th>
        <th scope="col">Temperatura da água</th>
        <th scope="col">PH</th>
        <th scope="col">Nivel de poluição</th>
      </tr>
    </thead>
    <tbody>      
      <tr *ngFor="let oceano of oceanosFiltrados">
        <td>{{oceano.regiao}}</td>
        <td>
          <ul>
          <li *ngFor="let especie of oceano.especies">
            {{ especie.nome }} - {{ especie.status }}
          </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let projeto of oceano.projetosConservacao">
              {{ projeto.nomeProjeto }} - {{ projeto.tipoProjeto }} - {{ projeto.tipoParticipacao }}
            </li>
            </ul>
        </td>
        <td>{{oceano.temperaturaAgua}}</td>
        <td>{{oceano.pH}}</td>
        <td>{{oceano.nivelPoluicao}}</td>
      </tr>    
    </tbody>
  </table>
</div>
