<div class="container-fluid p-5">
  <div class="btn-group ">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      Região
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li *ngFor="let item of filtrarItens()"><button class="dropdown-item" type="button">{{ item.regiao }}</button></li>
    </ul>
  </div>
</div>


<!-- <div class="container-fluid p-5">
  <input type="text" [(ngModel)]="termoPesquisa" placeholder="Pesquisar...">

  <ul>
    <li *ngFor="let item of filtrarItens()">{{ item.regiao }}</li>
  </ul>
</div> -->

<div class="container-fluid p-5">
  <table class="table table-dark table-striped-columns mt-3">
    <thead>
      <tr>
        <th scope="col">Região</th>
        <th scope="col">Espécies</th>
        <th scope="col">Statu de Conservação</th>
        <th scope="col">Temperatura da água</th>
        <th scope="col">PH</th>
        <th scope="col">Nivel de poluição</th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (item of oceanos; track $index){ -->
      <tr *ngFor="let item of filtrarItens(); let i = index">
        <td>{{item.regiao}}</td>
        <td>{{item.especies}}</td>
        <td>{{item.projetosConservacao}}</td>
        <td>{{item.temperaturaAgua}}</td>
        <td>{{item.pH}}</td>
        <td>{{item.nivelPoluicao}}</td>
      </tr>
      <!-- } -->
    </tbody>
  </table>
</div>
